extends layout

block content
    .jumbotron
        .container
            h1 How May I Help You?
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            a.btn.btn-primary.btn-lg(href='#') Learn More
    .container
        .row
            .col-md-4
                h2 About Us
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                a.btn.btn-default.btn-md(href='#') View Details
            .col-md-4
                h2 Service
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                a.btn.btn-default.btn-md(href='#') View Details
            .col-md-4
                h2 Get In Touch
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                a.btn.btn-default.btn-md(href='#') View Details
            
